<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title></title>
	<style type="text/css">
		*{
			margin: 0;
			padding: 0;
		}
		.show {
			overflow: hidden;
		}
		.show div {
			float: left;
		}
		.bench {
			width: 100%;
			background: orange;
			overflow: hidden;
		}
		.bench>div{
			width: 50%;
			float: left;

		}
	</style>
</head>
<body>
<div>
	<div class="show">
		<div class="phone"></div>
		<div class="edit"></div>
	</div>
	<div class="bench">
		
	</div>
</div>
<script src="../js/gk.js"></script>
<script>

let canvas =  gk.make()
let img
let imgData
let downX = 0
let downY = 0
let makeImgData
let makeImgMidData = []
let settings = gk.setView()
let [isClick, isClickBun, isClickSize] = gk.dom.obj(['isclick', ''])
settings.add(isClick)

let word = gk.setView('word')

let [name, nameBun, nameSize] = gk.dom.obj(['name', ''])
let [isclick, isclickBun, isclickSize] = gk.dom.obj(['isclick', ''])
let [onceClick, onceClickBun, onceClickSize] = gk.dom.obj(['onceclick', ''])
let [percent, percentBun, percentSize] = gk.dom.obj(['percent', '0.95'])
let [offset, offsetBun, offsetSize] = gk.dom.obj(['offset', ''])


gk("<input>", "pipe" , offset)

let inputs = gk(offset, "find", "input")
let values = [downX, downY]
for (var i = 0; i < inputs.length; i++) {
	gk(inputs[i], 'css', {width: "50px"}).value = values[i]
}
gk(offsetBun, "on", {click(){
	for (var i = 0; i < inputs.length; i++) {

		gk(inputs[i], 'css', {width: "50px"}).value = 0
	}
}})

word.add(name)
word.add(isclick)
word.add(onceClick)
word.add(percent)
word.add(offset)


let mid2 = word.create("mid", 175/255*100)
let mid = map(mid2[0].value, 0, 100, 0, 255)

~async function() {
	img = await canvas.getImg("../bench/screenshot_0.png")
	imgData = await canvas.getImgData(img)
	canvas.canvas.width = imgData.width
	canvas.canvas.height = imgData.height
	canvas.context.drawImage(img, 0, 0, imgData.width, imgData.height)
	
	gk(canvas.canvas, 'pipe', '.phone')
	gk('.edit', "css", {width: imgData.width+"px", height: imgData.height+"px", background: "skyblue"})

	let time
	gk(canvas.canvas).on({
		mousedown() {
			if ( isClickSize.value ) return ;
			downX = event.offsetX
			downY = event.offsetY
			time = setInterval(draw, 17)
		},
		mousemove() {
			if ( isClickSize.value ) return ;
			moveX = event.offsetX
			moveY = event.offsetY
		},
		mouseleave() {
			if ( isClickSize.value ) return ;
			clearInterval(time)
		},
		mouseup() {
			if ( isClickSize.value ) return ;
			clearInterval(time)
			if ( (moveX-downX) != 0 && (moveY-downY) != 0 ) {
				makeImgData = canvas.context.getImageData(downX, downY, moveX-downX, moveY-downY)
				show(makeImgData)
			}
		},
		click() {
			if ( !isClickSize.value ) return inputs[0].value = 0, inputs[1].value = 0
			inputs[0].value = event.offsetX - downX
			inputs[1].value = event.offsetY - downY
		}
	})

}()

function draw() {
	canvas.context.clearRect(0, 0, imgData.width, imgData.height)
	canvas.context.drawImage(img, 0, 0, imgData.width, imgData.height)

	canvas.fill('none')
	canvas.stroke('red')
	canvas.rect(downX-1, downY-1, moveX-downX+1, moveY-downY+1)
}
let webgl
function show() {
	makeImgMidData = []
	gk.gl( _=> {
		_.width = makeImgData.width
		_.height = makeImgData.height
		_.alignCenter = false
		webgl = _
		return () => {
			for (var x = 0; x < makeImgData.width; x++) {
				for (var y = 0; y < makeImgData.height; y++) {
					let index = (x + y *makeImgData.width)*4
					let r = makeImgData.data[index + 0]
					let g = makeImgData.data[index + 1]
					let b = makeImgData.data[index + 2]
					let a = makeImgData.data[index + 3]

					let color = 0
					if ( (r + g + b)/3 < mid ) {
						color = 1
					}
					_.hue(0, () => [color*255, color*255, color*255, color*255])
					_.point(x, y)
					makeImgMidData.push(color)
				}
			}
			_.stop = true
		}
	})
	gk('.edit').dom[0].innerHTML = ""
	gk(gk(webgl.inner.gl.canvas, 'pipe', '.edit'), "attr", {"style": "none"})

}



gk(mid2[1], 'on', {change(){
	mid = map(parseFloat(this.value), 0, 100, 0, 255)
	show(makeImgData)
}})

gk(settings.box, 'pipe', '.bench')
gk(settings.box, 'attr', {style:""})
gk(settings.button, 'css', {padding:"10px", margin: "10px"}).value = "update"

gk(word.box, 'pipe', '.bench')
gk(word.box, 'attr', {style:""})
gk(word.button, 'css', { marginBottom: "10px", paddingLeft: '10px', paddingRight: '10px', paddingTop: '5px', paddingBottom: '5px'}).value = "save"

gk(word.button).on({
	click() {
		gk.curl({url: "http://127.0.0.1:4444/save/median", params: {
			x: downX,
			y: downY,
			w: makeImgData.width,
			h: makeImgData.height,
			data: makeImgMidData,
			name: nameSize.value,
			isClick: isclickSize.value,
			onceClick: onceClickSize.value,
			percent: percentSize.value,
			offsetX: inputs[0].value,
			offsetY: inputs[1].value,
			mid: mid,
		}})
	}
})
gk(settings.button).on({
	click() {
		console.log("loading...")
		gk.curl({url: "http://127.0.0.1:4444/update/median", params: {}}).then(function(data) {
			window.location.reload() 
		})
	}
})

</script>
</body>
</html>